// AQUIE SE MOSTRARAN LAS OIONES DEL tutorado
ul#dropdownMenu.dropdown-content
  li
    a(href='/cursos') Cursos
  |       
  li.divider
  |       
  li
    a.green-text(href='/calendario') Calendario
  |       
// FIN LAS OIONES DEL tutorado
ul#dropdown1.dropdown-content
  li
    a(href='#!') Tutorado
  |       
  li
    a(href='#!') #{datos.curp_usuario}
  |       
  li
      a.red-text(href='/salir') Salir
|     
#menu.row
  .navbar-fixed
    nav(style='height: 100')
      .nav-wrapper.grey.lighten-3
        // Boton menu IZQUIERDO
        a.dropdown-button(href='#', data-activates='dropdownMenu')
          i.left.material-icons(style='height: 100%;')
            img.tooltipped(src='http://10.0.0.4:8085/asset/ico/menu.png', width='100%', height='auto', style='margin-top: 30; margin-left: 50%', data-position='bottom', data-delay='50', data-tooltip='Menu')
        // Seccion Seleccionada
        label.brown-text.text-darken-4(style="margin-left: 3%; font-size: 120%;font-family:Georgia;font-variant:small-caps; width:20%; display: inline-table;" height='20px') #{datos.seccionSeleccionada}
        // LOGO
        a.brand-logo.center(href='/')
          i.responsive-img
            img(src='http://10.0.0.4:8085/asset/ico/banner.png', width='100%', height='90', style='margin-top: 5')
        |             
        ul.right
          // Boton Mensajes
          li
            a(href='/mensajes', style='height: 100')
              i.material-icons
                img.tooltipped(src='http://10.0.0.4:8085/asset/ico/mensaje.png', width='70%', height='auto', style='margin-top: 30', data-position='bottom', data-delay='50', data-tooltip='Mensajes')
              span.new.badge.lime #{datos.numMensajes}
          // Boton Avisos
          li
            a(href='/avisos', style='height: 100')
              i.material-icons
                img.tooltipped(src='http://10.0.0.4:8085/asset/ico/aviso.png', width='100%', height='auto', style='margin-top: 30', data-position='bottom', data-delay='50', data-tooltip='Avisos')
          //    span.new.badge.green 0
          // Boton de Imagen con sub menu
          li
            a.dropdown-button(href='#', data-activates='dropdown1')
              img(src='http://10.0.0.4:8085/asset/asset_fotoPerfilUsers/#{datos.curp_usuario}.jpg', width='90', height='90', style='margin-top: 6' onerror="this.src='http://10.0.0.4:8085/asset/asset_fotoPerfilUsers/user.svg'")
              i.material-icons.right arrow_drop_down
|     
br
|    