footer.page-footer.blue-grey.darken-4
    .container
        .row.footer-full
            .col.s4.m4.l4
                a(href="https://www.gob.mx/sep" target="_blank" rel="noreferrer") 
                    h5.white-text Secretaría de Educación Pública
            .col.s4.m4.l4
                a(href="http://servicioprofesionaldocente.sep.gob.mx/" target="_blank" rel="noreferrer") 
                    h5.white-text Coordinación Nacional del Servicio Profesional Docente
            .col.s4.m4.l4
                a(href="http://www.inee.edu.mx/" target="_blank" rel="noreferrer") 
                    h5.white-text Instituto Nacional para la Evaluación de la Educación
    .footer-copyright.blue-grey.darken-3
        .row.col.s12.m12.l12
            h6 Calle Eduardo Neri No. 4 Col. Loma Bonita C.P. 39090 Tel. 7474718300 ext 8154, 7471076596  Chilpancingo, Guerrero.  