title #{titulo}
|     
meta(charset='UTF-8')
|     
link(rel='shortcut icon' type='image/x-icon' href='asset/ico/favicon.ico')
|     
meta(name='viewport', content='width=device-width, initial-scale=1')
|     
script(src='sweetalert-master/dist/sweetalert.min.js')
|     
link(rel='stylesheet', type='text/css', href='sweetalert-master/dist/sweetalert.css')
|     
link(rel='stylesheet', href='materialize/css/materialize.min.css')
|     
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
|   
script(type='text/javascript', src='js/jquery-3.2.1.min.js')
|     