ul#dropdownMenu.dropdown-content
  li
    a(href='/cursos') Cursos
  |       
  li.divider
  |       
  li
    a.brown-text(href='/admin_usuarios') Administrar Usuarios
  |       
  li
    a.deep-orange-text(href='/admin_cursos') Administrar Cursos
  |       
  li
    a.green-text(href='/calendario') Calendario
  |       
  li
    a.light-blue-text(href='/reportes') Reportes
ul#dropdown1.dropdown-content
    li
      a(href='#!') Autoridad Educativa
    |       
    li
      a(href='#!') #{datos.curp_usuario}
    |       
    li
      a.red-text(href='/salir') Salir
|     