html
  head 
    include ./includes/librerias.jade
    |     
    script(type='text/javascript', src='js/codigo.js')
  |   
  body
    #contenedor.container
      #logo.row
        .col.s12.text-align.center
          img.responsive-img(src='asset/ico/logo_seg.jpg', alt='Fondo no disponible' style='text-align: center;')
      |       
      #login_row.row
        .col.s12.m2.l2
        |         
        .col.s12.m12.l8
          form(action='/login', method='post')
            fieldset.card-panel.grey.darken-3
              legend(style='text-align: center; padding-bottom: 0px')
                img.circle(src='asset/asset_fotoPerfilUsers/user.svg', width='150', height='150' id='imgUser' onerror="this.src='asset/asset_fotoPerfilUsers/user.svg'")
              |               
              #login_contenido.row
                .row
                  .col.s1.m3.l3
                  |                   
                  .input-field.col.s10.m6.l6.card-panel.grey.darken-1
                    i.material-icons.prefix
                      img(src='asset/ico/user.png', width='32', height='32')
                    |                     
                    input#usuario.validate.grey-text.text-lighten-5(type='text', name='usuario')
                    |                     
                    label.active(for='usuario') Usuario
                  |                   
                  .col.s12.m4.l2
                |                 
                .row
                  .col.s1.m3.l3
                  |                   
                  .input-field.col.s10.m6.l6.card-panel.grey.darken-1
                    i.material-icons.prefix
                      img(src='asset/ico/locked.png', width='32', height='32')
                    |                     
                    input#clave.validate.grey-text.text-lighten-5(type='password', name='clave')
                    |                     
                    label.active(for='clave') Contrase&ntilde;a
                  |                   
                  .col.s12.m4.l2
                |                 
                .row
                  .col.s12.m4.l2
                  |                   
                  .input-field.col.s12.m4.l8.center-align
                    button#btLogin.btn.waves-effect.waves-light(type='submit', onclick="this.enabled=false; this.value='Validando...'; return validar_login();") Iniciar Sesi&oacute;n
                  |                   
                  .col.s12.m4.l2
              |               
              div
                a(href='/recuperar_credenciales')
                  h6.center-align Olvido su contrase&ntilde;a?
        |         
        .col.s12.m4.l2
        if(error & encontrado)
           script(type='text/javascript') swal('Error:', 'Credenciales no validas','error');document. getElementById('imgUser'). src = "asset/asset_fotoPerfilUsers/#{userCurp}.jpg";document. getElementById('usuario'). value = "#{user}";
        else if(error)
           script(type='text/javascript') swal('Error:', 'Credenciales no validas','error');document. getElementById('imgUser'). src = "asset/asset_fotoPerfilUsers/user.svg";
    include ./includes/footer.jade
    |     
    // Import jQuery before materialize.js
    script(type='text/javascript', src='materialize/js/materialize.min.js')